<!DOCTYPE html>
<html lang="en">
<head>
    <title>烟台冷库安装,制冷设备-冷库安装,制冷设备</title>
    <meta charset="UTF-8">
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta content="email=no" name="format-detection">
    <meta name="Keywords" content="烟台，冷库安装,制冷设备">
    <meta name="Description" content="主要提供烟台冷库安装,烟台制冷设备等,公司拥有独立设计图纸,安装调试,运营管理大型制冷工程的整体实力,短短几年时间已为上百家客户提供了优良的产品和服务">
    <link rel="stylesheet" href="./css/swiper-3.4.2.min.css">
    <link rel="stylesheet" href="./css/base.css">
    <link rel="stylesheet" href="./css/style.css">
    <script>
        var temWidth = screen.width;
        if (temWidth < 480) {
            window.location.href = './mobileMain.html';
        }
    </script>
</head>
<body>
<div class="header main">
    <div class="container">
        <div class="logo"></div>
        <div class="wx-pic"></div>
        <div class="show-tel">
            <div class="left"></div>
            <div class="right">
                <div class="title">烟台寒冰-服务电话：</div>
                <div class="tel-num">138 0638 5616</div>
            </div>
        </div>
    </div>
</div>
<div class="nav main">
    <div class="nav-container ">
        <ul>
            <li class="active"><a>首页</a></li>
            <li><a href="#aboutUs">关于我们</a></li>
            <li><a href="#proCenter">产品中心</a></li>
            <li><a href="#newsGet">新闻资讯</a></li>
            <li><a href="#footer">联系我们</a></li>
        </ul>
    </div>
</div>
<div class="banner main">
    <div class="container">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <!--<div class="swiper-slide banner-container slide2" data-swiper-autoplay="3000"></div>-->
                <div class="swiper-slide banner-container slide1"></div>
            </div>
        </div>
    </div>
</div>

<div class="device-list main">
    <div class="device-container">
        <div class="pro-title">
            <div class="left">P</div>
            <div class="right">
                <div class="top" id="proCenter">产品中心</div>
                <div class="bottom">PRODUCT CENTER</div>
            </div>
        </div>
        <div class="roll-container" style="position: relative;overflow:hidden;width:800px;height:163px;margin: 0 auto;margin-bottom: 30px;">
            <div class="roll-this" id="rollId" style="left:0;">
                <div class="detail-roll">
                    <div class="roll-pic roll-pic-1"></div>
                    <div class="roll-head">V型顶吹风风冷机组</div>
                </div>
                <div class="detail-roll">
                    <div class="roll-pic roll-pic-2"></div>
                    <div class="roll-head">并联机组</div>
                </div>
                <div class="detail-roll">
                    <div class="roll-pic roll-pic-3"></div>
                    <div class="roll-head">并联机组</div>
                </div>
                <div class="detail-roll">
                    <div class="roll-pic roll-pic-4"></div>
                    <div class="roll-head">大型组合冷库</div>
                </div>
                <div class="detail-roll">
                    <div class="roll-pic roll-pic-5"></div>
                    <div class="roll-head">风冷式速冻柜</div>
                </div>
                <div class="detail-roll">
                    <div class="roll-pic roll-pic-6"></div>
                    <div class="roll-head">活塞式风冷机组</div>
                </div>
                <div class="detail-roll">
                    <div class="roll-pic roll-pic-7"></div>
                    <div class="roll-head">铝合金排管</div>
                </div>
                <div class="detail-roll">
                    <div class="roll-pic roll-pic-8"></div>
                    <div class="roll-head">铝合金排管</div>
                </div>
                <div class="detail-roll">
                    <div class="roll-pic roll-pic-9"></div>
                    <div class="roll-head">青岛啤酒</div>
                </div>
                <div class="detail-roll">
                    <div class="roll-pic roll-pic-10"></div>
                    <div class="roll-head">现场制作速冻柜</div>
                </div>
                <div class="detail-roll">
                    <div class="roll-pic roll-pic-11"></div>
                    <div class="roll-head">现场制作速冻柜</div>
                </div>
                <div class="detail-roll">
                    <div class="roll-pic roll-pic-12"></div>
                    <div class="roll-head">小型组合冷库</div>
                </div>
                <div class="detail-roll">
                    <div class="roll-pic roll-pic-13"></div>
                    <div class="roll-head">新型铝合金搁架</div>
                </div>
                <div class="detail-roll">
                    <div class="roll-pic roll-pic-14"></div>
                    <div class="roll-head">烟台绿叶</div>
                </div>
                <div class="detail-roll">
                    <div class="roll-pic roll-pic-15"></div>
                    <div class="roll-head">直冷式速冻柜</div>
                </div>
            </div>
        </div>
        <div class="device-detail">
            <div class="left" id="buttonContainer">
                <div class="button active">速冻柜</div>
                <div class="button">设备机组</div>
                <div class="button">铝合金搁架</div>
                <div class="button">铝合金排管</div>
                <div class="button">工程案例</div>
            </div>
            <div class="right" id="rightContainer">
                <div class="r-show-container" style="display: block">
                    <div class="r-show">
                        <div class="r5-pic1 r-pic"></div>
                        <div class="r-pic-title">风冷式速冻柜</div>
                    </div>
                    <div class="r-show">
                        <div class="r5-pic2 r-pic"></div>
                        <div class="r-pic-title">现场制作速冻柜</div>
                    </div>
                    <div class="r-show">
                        <div class="r5-pic3 r-pic"></div>
                        <div class="r-pic-title">现场组装速冻柜</div>
                    </div>
                    <div class="r-show">
                        <div class="r5-pic4 r-pic"></div>
                        <div class="r-pic-title">直冷式速冻柜</div>
                    </div>
                </div>
                <div class="r-show-container" style="display: none">
                    <div class="r-show">
                        <div class="r4-pic1 r-pic"></div>
                        <div class="r-pic-title">V型顶吹风风冷机组</div>
                    </div>
                    <div class="r-show">
                        <div class="r4-pic2 r-pic"></div>
                        <div class="r-pic-title">并联机组</div>
                    </div>
                    <div class="r-show">
                        <div class="r4-pic3 r-pic"></div>
                        <div class="r-pic-title">并联机组</div>
                    </div>
                    <div class="r-show">
                        <div class="r4-pic4 r-pic"></div>
                        <div class="r-pic-title">活塞式风冷机组</div>
                    </div>
                </div>
                <div class="r-show-container" style="display: none">
                    <div class="r-show">
                        <div class="r3-pic1 r-pic"></div>
                        <div class="r-pic-title">新型铝合金搁架</div>
                    </div>
                </div>
                <div class="r-show-container" style="display: none">
                    <div class="r-show">
                        <div class="r2-pic1 r-pic"></div>
                        <div class="r-pic-title">铝合金排管</div>
                    </div>
                    <div class="r-show">
                        <div class="r2-pic2 r-pic"></div>
                        <div class="r-pic-title">铝合金排管</div>
                    </div>
                </div>
                <div class="r-show-container" style="display: none">
                    <div class="r-show">
                        <div class="r1-pic1 r-pic"></div>
                        <div class="r-pic-title">大型组合冷库</div>
                    </div>
                    <div class="r-show">
                        <div class="r1-pic2 r-pic"></div>
                        <div class="r-pic-title">小型组合冷库</div>
                    </div>
                    <div class="r-show">
                        <div class="r1-pic3 r-pic"></div>
                        <div class="r-pic-title">青岛啤酒</div>
                    </div>
                    <div class="r-show">
                        <div class="r1-pic4 r-pic"></div>
                        <div class="r-pic-title">烟台绿叶</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="about-us new-show main">
    <div class="container">
        <div class="title" id="newsGet">新闻资讯</div>
        <div class="about-bg"></div>
        <div class="title-en">News information</div>
        <div class="new-container">
            <div class="left">
                <div class="left-title">新闻</div>
                <div class="left-detail">
                    <div class="left-detail-title">铝合金速冻搁架是理想的制冷设备之一</div>
                    <div class="left-detail-time">2017-08-15</div>
                    <div class="left-detail-content">铝合金速冻搁架是烟台制冷设备的常见种类，下面小编为大家介绍一下铝合金速冻搁架的特点。</div>
                </div>
                <div class="left-detail">
                    <div class="left-detail-title">烟台冷库调试规范</div>
                    <div class="left-detail-time">2017-06-20</div>
                    <div class="left-detail-content">制冷行业竞争尤为突出，冷库安装尤为重要，在顺利安装后，冷库还需要做一系列的调试规范，下面就...</div>
                </div>
                <div class="left-detail">
                    <div class="left-detail-title">带你认识一下制冷设备配件的制冷原理</div>
                    <div class="left-detail-time">2016-11-26</div>
                    <div class="left-detail-content">我们公司是从事制冷空调工程设计、安装、售后的制冷企业。公司主要产品有铝合金顶排管、铝合金速冻搁...</div>
                </div>
                <div class="left-detail">
                    <div class="left-detail-title">铝排管电热化霜系统短路了怎么办</div>
                    <div class="left-detail-time">2016-03-02</div>
                    <div class="left-detail-content">铝排管的应用主要适合在10℃到-45℃，但是，倘若铝排管在使用过程中发生铝排管电热化霜系统短路的问题...</div>
                </div>
                <div class="left-detail">
                    <div class="left-detail-title">重中之重！制冷铝排的厚度选择要谨慎</div>
                    <div class="left-detail-time">2015-07-19</div>
                    <div class="left-detail-content">冷库的安全性能十分的被人重视，一旦发生制冷剂泄漏，很容易造成制冷系统的瘫痪，甚至引起工作人员中毒，窒息...</div>
                </div>
            </div>
            <div class="right">
                <div class="right-title">资讯</div>
                <div class="right-detail">
                    <div class="right-left">
                        <div class="left-top">12</div>
                        <div class="left-bottom">2017-09</div>
                    </div>
                    <div class="right-right">
                        <div class="right-top" style="color:#191919;">制冷设备安装的相关知识</div>
                        <div class="right-bottom">今天小编所讲述的内容就是烟台制冷设备安装规范的一些知识点，欢迎收看。</div>
                    </div>
                </div>
                <div class="right-detail">
                    <div class="right-left">
                        <div class="left-top">30</div>
                        <div class="left-bottom">2016-04</div>
                    </div>
                    <div class="right-right">
                        <div class="right-top" style="color:#191919;">冷库保养知识</div>
                        <div class="right-bottom">作为烟台地区从事制冷设备的企业之一，我们对于冷库的知识也是了解甚多</div>
                    </div>
                </div>
                <div class="right-detail">
                    <div class="right-left">
                        <div class="left-top">05</div>
                        <div class="left-bottom">2015-06</div>
                    </div>
                    <div class="right-right">
                        <div class="right-top" style="color:#191919;">铝排管材质特点知多少</div>
                        <div class="right-bottom">铝排管是烟台制冷设备的常见种类，主要用于10℃至-45℃冷库的制冷系统中，</div>
                    </div>
                </div>
                <div class="right-detail">
                    <div class="right-left">
                        <div class="left-top">30</div>
                        <div class="left-bottom">2014-11</div>
                    </div>
                    <div class="right-right">
                        <div class="right-top" style="color:#191919;">怎样检查制冷设备是否正常运行</div>
                        <div class="right-bottom">制冷设备正常运行，才能保障冷库里的产品完好保持。今天小编</div>
                    </div>
                </div>
                <div class="right-detail">
                    <div class="right-left">
                        <div class="left-top">07</div>
                        <div class="left-bottom">2010-09</div>
                    </div>
                    <div class="right-right">
                        <div class="right-top" style="color:#191919;">烟台冷库安装制冷设备的维修方法</div>
                        <div class="right-bottom">冷库的库体强度高、刚性好、隔热保暖性能好、阻燃，烟台冷库安装制</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="about-us main">
    <div class="container">
        <div class="title" id="aboutUs">关于我们</div>
        <div class="about-bg"></div>
        <div class="title-en">about us</div>
        <div class="content">
            <p><strong style="font-weight: bold;color:#107FD8">烟台寒冰制冷设备有限公司 </strong> 是一家专门从事制冷系统整体解决方案的专业化工程公司，主要业务为冷库及空调工程的设计安装及售后。公司主要产品有制冷机组系列，提供德国比泽尔，艾默生谷轮，汉钟复盛，丹佛斯，莱富康的品牌机组；速冻冷柜系列，广泛应用于速冻海参、速冻水饺等速冻领域；新型节能环保蒸发器系列，包括铝合金排管及铝合金速冻搁架；蒸发式冷凝器；冷风机；聚氨酯冷库板、冷库门等。我们一直以精湛的技术，良好的服务为客户提供最大的价值为经营理念，与广大客户一道携手共进，砥砺前行！</p>
        </div>
        <div class="show-adv">
            <div class="show-adv-detail">
                <div class="show-adv-1"></div>
                <div class="title">工艺讲究</div>
            </div>
            <div class="show-adv-detail">
                <div class="show-adv-1 show-adv-2"></div>
                <div class="title">设备领先</div>
            </div>
            <div class="show-adv-detail">
                <div class="show-adv-3 show-adv-1"></div>
                <div class="title">类型丰富</div>
            </div>
            <div class="show-adv-detail">
                <div class="show-adv-4 show-adv-1"></div>
                <div class="title">服务保障</div>
            </div>
        </div>
    </div>
</div>
<div class="footer main" id="footer">
    <ul class="footer-nav">
        <li><a href="#aboutUs">关于我们</a></li>
        <li><a href="#proCenter">产品中心</a></li>
        <li><a href="#newsGet">新闻资讯</a></li>
        <li><a href="#footer">联系我们</a></li>
    </ul>
    <div class="footer-info">
        公司名称： 烟台寒冰制冷设备有限公司 &nbsp;&nbsp;备案号： 鲁ICP备14006355号&nbsp;&nbsp;地址： 山东省烟台市芝罘区凤凰台路1-8号
    </div>
    <div class="footer-detail">电话：138-0638-5616&nbsp;&nbsp;邮箱：13806385616@139.com &nbsp;&nbsp;网址：www.ytzhileng.com</div>
</div>
<script src="./js/swiper-3.4.2.min.js"></script>
<script>
    var mySwiper = new Swiper('.swiper-container', {
        autoplay: 5000,//可选选项，自动滑动
    })
    var buttonContainer = document.getElementById('buttonContainer').getElementsByClassName('button');
    var rightContainer = document.getElementById('rightContainer').getElementsByClassName('r-show-container');
    for (let i = 0,lenI = buttonContainer.length; i < lenI; i++) {
        buttonContainer[i].onclick = function () {
            var _self = this;
            for (let j = 0, lenJ = buttonContainer.length; j < lenJ; j++) {
                if (buttonContainer[j].className !== 'button') {
                    buttonContainer[j].className = 'button'
                    _self.className = 'button active';
                    break;
                }
            }
            for (let k = 0, lenK = rightContainer.length; k < lenK; k++) {
                if (rightContainer[k].style.display !== 'none') {
                    rightContainer[k].style.display = 'none';
                    rightContainer[i].style.display = 'block';
                    break;
                }
            }
        }
    }
    window.onresize = function () {
        var temUseNum = document.body.clientWidth;
        if (temUseNum < 480) {
            window.location.href = './mobileMain.html'
        } else {
            window.location.href = 'index.html'
        }
    }
    var rollId = document.getElementById('rollId');
    var leftChangeNum = 2;
    setInterval(function () {
        if(Math.abs(parseInt(rollId.style.left)) < 155 * 15 -500) {
            rollId.style.left = parseInt(rollId.style.left) - leftChangeNum + 'px';
        } else{
            rollId.style.left = 0
        }
    },50)
    rollId.onmouseover = function () {
        leftChangeNum = 0;
    }
    rollId.onmouseout = function () {
        leftChangeNum = 2;
    }

</script>
</body>
</html>